
*{
    margin:0px;
    border:0px;
    font-family: 'Roboto', sans-serif
}
nav{
    margin-top:20px;
    position: fixed;
    top:0;
    z-index: 100;
}

.v1{
    border-left: 2px solid green;
    height: 30px;
    position: absolute;
    left: 20.9%;
    /* margin-left: -3px; */
    top: 22px;
}

.blog{
    margin-left:35px;
    font-size:30px;
    vertical-align: 2px;
}

.collectibles .downArrow{
    margin-left:700px;
}

.collectibles .archieves{
    vertical-align: 5px;
    margin-left:5px;
}

.collectibles .cart{
    vertical-align: 2px;
    margin-left:10px;
}

.collectibles .store{
    vertical-align: 6px;
}

.quote{
    margin-left: 50px;
    margin-right:30px;
    background-color: rgb(9, 78, 115);
    width: 300px;
    color:white;
    padding:10px 20px;
    border-radius: 50px;
    vertical-align: 5px;
    font-size:20px;
}

.quote a:link{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

.quote a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  .quote  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  .quote a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

.bg{
    margin-top:160px;
    /* text-align:center; */
    margin-left:auto;
    margin-right:auto;
}

.bg img {
    border-radius: 50px;
    z-index: -3;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
 

}

.onImage{
    text-align: center;
    /* z-index:-2; */
    border-width:468;
}

.onImage img{
    position: absolute;
    height:303;
    width:468;
    top:371px;
    right:140px;
}

.text{
    position:absolute;
    font-size: 50px;
    top:400px;
    left:150px;
    color:rgb(9, 78, 115);
    font-weight:bold;
}

.srch-bar{
    position:absolute;
    top:550px;
    left:150px;
    
}
.srch-bar input{
    width:300px;
    border-radius:15px 0 0 15px;
}

.srch-bar button{
    background-color: rgb(9, 78, 115);
    color: white;
    border-radius:0px 15px 15px 0px;
}

.hashtags{
    position: absolute;
    top:660px;
    left:170px;
}

.rect{
    height: 50px;
    width: 50px;
    background-color: rgb(232, 234, 234);
    position: absolute;
    margin-top:800px;
    left: 50%;
    transform: translate(-50%,0);
    width:95%;
    height:300px;
    border-radius:40px;

}